<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005682887137-plgi7nj6442n357njb33h6lu2ml6rg8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005682887137-plgi7nj6442n357njb33h6lu2ml6rg8r</string>
	<key>API_KEY</key>
	<string>AIzaSyA7ADSPsNXU5izLsc7YxtbyCU3jPbYB9Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>1005682887137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseclass</string>
	<key>PROJECT_ID</key>
	<string>section-b-jawan-pakistan</string>
	<key>STORAGE_BUCKET</key>
	<string>section-b-jawan-pakistan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005682887137:ios:c7039342b2118fcbf72aa0</string>
</dict>
</plist>